fastapi
mangum
sqlalchemy
psycopg2-binary
python-jose
passlib
python-multipart
pydantic-settings
python-dotenv
celery
redis
asyncpg>=0.29.0
httpx
bcrypt==4.0.1
pytest
pytest-asyncio
asgi-lifespan
gunicorn
uvicorn